$loginBackground: url('https://source.unsplash.com/featured/1920x1080') !default;
$spinnerColor: $progressColor !default;

#auth-wrapper {
    background: $loginBackground;

    .logo,
    .title {
        color: $contrastPrimary;
    }
}

#navbar {
    background-color: $primaryColor;

    .branding,
    .motto {
        color: $contrastPrimary;
    }
}

.footer {
    background-color: $primaryColor;

    .copyright-text {
        color: $contrastPrimary;
    }
}

.nav-links {
    .nav-link {
        color: $contrastPrimary;
    }

    .nav-link:after {
        background: $contrastPrimary;
    }

    .active:after {
        background: $contrastPrimary;
    }
}

.burger {
    div {
        background-color: $contrastPrimary;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        background-color: $primaryColor;
    }
}

.cssload-loader {
    border: 4px solid $spinnerColor;
}

.cssload-loader-inner {
    background-color: $spinnerColor;
}

::selection {
    color: $contrastPrimary;
    background-color: $secondaryColor;
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: $jumbotron-bg;
}