<div id="auth-wrapper">
    <div class="bg-primary sidebar">
        <a ui-sref="pages.main" class="logo-link">
            <h3 class="logo">{{ appName }}</h3>
        </a>
        <h5 class="title">{{ $route.meta.title }}</h5>
    </div>
    <div class="card-wrapper">
        <div class="card border-primary auth-card">
            <div class="card-header bg-primary text-center">
                <div class="head-wrapper">
                    <h3 class="logo">{{ appName }}</h3>
                    <h5 class="title">{{ $route.meta.title }}</h5>
                </div>
            </div>
            <loader-component ref="loader"></loader-component>
            <div id="content-card" class="card-body">
                <router-view
                    @showSuccess="showSuccess"
                    @showError="showError"
                    @startLoading="startLoading"
                    @endLoading="endLoading"
                    class="content">
                </router-view>
            </div>
            <div id="success-card" class="card-body text-center text-success">
                <animated-check ref="check" :key="checkRenderKey"/>
                <h3 id="success-title">Success!</h3>
                <h5 id="success-message">You will be redirected in a moment.</h5>
            </div>
            <div id="error-card" class="card-body text-center text-danger">
                <animated-cross ref="cross" :key="crossRenderKey"/>
                <h3 id="error-title">A wild error appeared!</h3>
                <h5 id="error-message">Please retry or contact us.</h5>
            </div>
        </div>
    </div>
</div>
