<form id="recoveryForm" name="recoveryForm" @submit.prevent="submit">
    <div class="form-group row">
        <label class="col-lg-2 col-form-label form-control-label text-muted">Email</label>
        <div class="col-lg-10">
            <input class="form-control" name="email" type="email" v-model="email" @blur="$v.email.$touch" />
            <div class="text-danger" v-if="$v.email.$dirty">
                <span v-if="!$v.email.required">Field is required</span>
                <span v-if="!$v.email.minLength">Email must be at least {{ $v.email.$params.minLength.min }} characters! </span>
                <span v-if="!$v.email.maxLength">Email can't be longer than {{ $v.email.$params.maxLength.max }} characters! </span>
                <span v-if="!$v.email.email">Input a valid email address! </span>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group row text-center">
        <div class="col-lg-12">
            <input type="submit" class="btn btn-primary btn-block" value="Submit" />
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 text-muted">
            <router-link :to="{name: 'register'}" class="text-muted">No account yet?</router-link> or
            <router-link :to="{name: 'login'}" class="text-muted">Remembered your password?</router-link>
        </div>
    </div>
</form>
