$primaryColor: #231f24;
$secondaryColor: #95646e;
$textPrimary: #f5f4ec;
$textSecondary: #787e74;
$spinnerColor: $secondaryColor;

$theme-colors: (
    'primary': $primaryColor,
    'secondary': $secondaryColor,
    'success': #5cb85c,
    'info': #867d7f,
    'warning': #ffc341,
    'danger': #d9534f,
    'light': $textPrimary,
    'dark': $primaryColor
);

@import '../imports/main';
@import '../imports/pace';
