$primaryColor: #908aa9;
$secondaryColor: #887899;
$contrastPrimary: #fbfbfa;
$contrastSecondary: #a2b1c0;
$progressColor: $contrastPrimary;
$lightColor: #c0a1e1;
$darkColor: #7a70a3;

@import '../imports/main-dark';