$primaryColor: #908aa9;
$secondaryColor: #887899;
$contrastPrimary: #fbfbfa;
$contrastSecondary: #a2b1c0;
$progressColor: #363f51;

$primary:       $primaryColor;
$secondary:     $secondaryColor;
$success:       #5cb85c;
$info:          #867d7f;
$warning:       #ffc341;
$danger:        #d9534f;
$light:         $contrastPrimary;
$dark:          $primaryColor;

@import '../imports/main';