$primaryColor: #5d7dab;
$secondaryColor: #7f96db;
$contrastPrimary: #faf9f6;
$contrastSecondary: #bfc7e0;
$progressColor: $contrastSecondary;
$lightColor: #7e91ac;
$darkColor: #3263a7;

@import '../imports/main-dark';