<div>
    <div class="bg bg-warning"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="error-code">404!</h1>
                <h2 class="text">My dog ate it!</h2>
                <h3 class="subtext">The page was not found!<br />It may be a moved, deleted, or non-existant page.</h3>
                <br />
                <router-link :to="{name: 'home'}" class="btn btn-primary btn-lg">
                    <i class="icon ion-md-home"></i> Back To Home
                </router-link>
            </div>
        </div>
    </div>
</div>
