<form id="recoveryForm" name="recoveryForm" @submit.prevent="submit">
    <div class="mb-3 row">
        <label class="col-lg-2 col-form-label form-control-label text-muted">Email</label>
        <div class="col-lg-10">
            <input class="form-control" name="email" type="email" v-model="email" @blur="$v.email.$touch" />
            <div class="text-danger" v-if="$v.email.$dirty">
                <span v-if="!$v.email.required">Field is required</span>
                <span v-if="!$v.email.minLength">Email must be at least {{ $v.email.$params.minLength.min }} characters! </span>
                <span v-if="!$v.email.maxLength">Email can't be longer than {{ $v.email.$params.maxLength.max }} characters! </span>
                <span v-if="!$v.email.email">Input a valid email address! </span>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-lg-2 col-form-label form-control-label text-muted">Password</label>
        <div class="col-lg-10">
            <input class="form-control" name="password" type="password" v-model="password" @blur="$v.password.$touch" />
            <div class="text-danger" v-if="$v.password.$dirty">
                <span v-if="!$v.password.required">Field is required</span>
                <span v-if="!$v.password.minLength">Password must be at least {{ $v.password.$params.minLength.min }} characters! </span>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-lg-2 col-form-label form-control-label text-muted">Confirm</label>
        <div class="col-lg-10">
            <input class="form-control" name="confirm" type="password" v-model="confirm" @blur="$v.confirm.$touch" />
            <div class="text-danger" v-if="$v.confirm.$dirty">
                <span v-if="!$v.confirm.minLength">Password must be at least {{ $v.confirm.$params.minLength.min }} characters! </span>
                <span v-if="!$v.confirm.sameAsPass">Password doesn't match! </span>
            </div>
        </div>
    </div>
    <hr />
    <div class="mb-3 row text-center">
        <div class="col-lg-12">
            <input type="submit" class="btn btn-primary btn-block" value="Reset Password" />
        </div>
    </div>
</form>
